* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* STYLE FOR HEADER */

header {
    display: flex;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(47,46,83,255)
}

#navlogo {
    padding-top: 5%;
}

#navtitle {
    color: #38647f;
    padding-left: 1%;
    font-size: 200%;
}

.navlinks {
    display: flex;
    gap: 10px;
    padding-left: 10%;

    a:link {
        color: white;
        text-decoration: none;
      }
      
    a:visited {
        color: white;
        text-decoration: none;
      }
      
    a:hover {
        color: #68dacd;
        text-decoration: none;
      }
      
    a:active {
        color: #68dacd;
        text-decoration: none;
      }  
}



/* STYLE FOR MAIN */

/*our story section*/

.story{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:100px;
    margin:0% 15%;
}

.content{
    margin-right:15%;
    margin-left:10%;
}

.content h1{
    padding-bottom: 12px;
}

.buttonLearn{
    margin-top:5%;
    padding:10px;
    background:white;
    color: #41f0f3;
    border-color: #41f0f3;
    font-weight: bold;
}





/* STYLE FOR FOOTER */

